.coind-stop-icon,
.coind-remove-icon {
  font-size: 20px;
  position: absolute;
  top: 19px;
  right: 12px;
  color: #ccc !important;

  &:hover {
    color: #e9595b !important;
  }
}

.coind-remove-icon {
  transform: rotate(45deg);
  top: 45px;
}

.coind-remove-icon-spv {
  top: 19px;
}

.icon-spv-connection-warning,
.icon-native-connection-warning {
  position: absolute;
  bottom: 20px;
  right: 15px;

  &:before {
    color: #f2a654;
    font-size: 18px;
  }
}

.icon-native-connection-warning {
  &:before {
    background: #fff;
    color: #e9595b;
  }
}

.badge.up {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
}

.list-group-item {
  .widget,
  .widget-content {
    height: 150px;

    .avatar {
      margin-top: 10px;
      width: 60px;
    }
  }
}

.icon {
  &.staking {
    font-weight: bold;
    font-size: 16px;
  }
  &.ac-private {
    right: 20px;
    font-weight: bold;
    font-size: 16px;
  }
}

.custom-ac-icon {
  position: absolute;
  margin-top: -26px;
  margin-left: 14px;
}

.page-aside .list-group-item .icon {
  color: #9e9e9e !important;
}

.widget {
  &.active {
    .bg-white {
      box-shadow: inset 1px 1px 10px #ccc;
    }
  }
  .coin-name {
    word-break: break-word;
    white-space: normal;
  }
}

.page-aside-inner {
  .wallet-widgets-list {
    overflow-y: auto;
    height: 100%;
  }
}