.send-coin-sync-warning {
  .icon {
    font-size: 18px;
  }
  .desc {
    position: relative;
    top: -2px;
  }
}

.btn-send-self {
  position: absolute;
  right: 16px;
  top: 26px;
  padding: 0 11px;
}

.extcoin-send-form {
  .send-target-block {
    margin-bottom: 14px;
    margin-top: 10px;
  }

  .rc-slider {
    left: 4px;

    &.send-slider-time-based {
      .rc-slider-mark {
        margin-top: 3px;

        .rc-slider-mark-text:first-child {
          left: 8px !important;
        }
        .rc-slider-mark-text:last-child {
          left: calc(100% - 20px) !important;
        }
      }
    }
  }
}

.coin-send-form {
  overflow: hidden;

  .settings-help {
    &.send-btc {
      margin: 0 7px 0 5px;
      left: inherit;
    }
  }
}

.kv-select-block {
  position: absolute;
  top: 18px;
  left: 200px;

  button {
    padding: 0 11px;
    background-color: #fff;

    &.active {
      background-color: #e0e0e0;
      border-color: #e0e0e0;
      cursor: default;
      pointer-events: none;
    }
  }
}

.btn-send-address-book-dropdown {
  position: absolute;
  right: 16px;
  top: 26px;
  padding: 0 6px 0 11px;
}

.coin-tile-context-menu--address-book {
  left: inherit !important;
  right: 17px;
  min-width: 125px;
}

.confirm-currency-send-container {
  color: #f44336;
}

.form-control.send-to-padding-right {
  padding-right: 145px;
}

.send-clear-opids {
  position: absolute;
  top: 18px;
  right: 24px;
}