.send-coin-sync-warning {
  .icon {
    font-size: 18px;
  }
  .desc {
    position: relative;
    top: -2px;
  }
}

.btn-send-self {
  position: absolute;
  right: 16px;
  top: 20px;
  padding: 0 11px;
}