.search-box {
  float: right;
  padding-right: 0;
}
.breadcrumb--native {
  top: 0;
}
.rt-tr.-odd div,
.rt-tr.-even div {
  padding-top: 2px;
  padding-bottom: 2px;
}

.rt-tr-group.-odd .-padRow {
  display: none;
}
.ReactTable {
  border: none;

  .rt-tr.-padRow {
    display: none;
  }
  .-pagination,
  .rt-thead.-header,
  .rt-tfoot {
    box-shadow: none;
  }
  .pagination-bottom {
    margin-top: 35px;
  }
  .rt-td {
    text-align: center;
  }
  .rt-table {
    border: none;
  }
  .rt-thead .rt-th,
  .rt-thead .rt-td {
    padding: 10px 5px;
  }
  .rt-tr.-odd div,
  .rt-tr.-even div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .-pagination,
  .rt-thead,
  .rt-tfoot {
    border: none;
  }
  .rt-tfoot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .rt-td {
      text-align: center;
    }
  }
  .rt-thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .rt-th,
    .rt-td {
      border: none;
    }
    .rt-th.-sort-asc,
    .rt-td.-sort-asc,
    .rt-th.-sort-desc,
    .rt-td.-sort-desc{
      box-shadow: none;
    }
    .rt-th.-sort-asc div:nth-child(1):after {
      font-family: FontAwesome;
      padding-left: 5px;
      content: "\f106";
    }
    .rt-th.-sort-desc div:nth-child(1):after {
      font-family: FontAwesome;
      padding-left: 5px;
      content: "\f107";
    }
  }
  .colum--direction {
    width: 40px !important;
    flex: 40 0 auto !important;
    padding-right: 10px;
  }
  .colum--txinfo {
    width: 40px !important;
    flex: 40 0 auto !important;
  }
  .colum--type {
    width: 40px !important;
    flex: 40 0 auto !important;
  }
  .-pagination {
    .-pageJump {
      margin-right: 5px;
      margin-left: 5px;
    }
    .-btn {
      color: #757575;
      background-color: #efefef;
      border: 1px solid #e0e0e0;

      &:hover {
        color: #fff;
      }
    }
    .-btn[disabled]:hover {
      color: #757575;
    }
  }
  .rt-noData {
    top: 46px;
    width: 100%;
    text-align: center;
    height: 98px;
    padding: 38px;
    background: rgba(255, 255, 255, 0.85);
  }
}
.table-cell-offset-16 {
  padding-left: 16px;
}

.dashboard-claim-interest-btn {
  padding: 4px 14px 4px 7px;
  margin-left: 20px;
}

.win-sync-workaround-btn {
  padding: 4px 7px;
}

.manual-balance-refresh,
.manual-txhistory-refresh {
  position: absolute;
  right: 4px;
  top: 3px;
}

.self-send {
  background-color: #00bcd4;
  border-color: #00bcd4;
  font-size: 13px;
  width: 44px;
  display: block;
  margin: 0 auto;
}
.tx-interest {
  display: block;
  color: #4caf50;
  font-size: 13px;
  padding-top: 5px;
}
.tx-history-vin-len-err {
  background: #FF6600;
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
  margin-left: 10px;
}

.btn-switch-kv {
  position: absolute;
  left: 32px;
  top: 62px;
  padding: 0 11px;
}
.z-index-10 {
  z-index: 10;
}

.txhistory-table {
  .label {
    &.label-danger,
    &.label-success {
      display: block;
      width: 46px;
      padding: .35em .6em .33em;
      text-align: left;
      position: relative;
      top: 2px;
      margin: 0 auto;
    }
    &.self-send {
      width: 46px;
      font-size: 12.4px;
    }
  }
}

.dashboard-utxo-issues-icon {
  position: absolute;
  top: -5px;
  margin-left: -11px;
  font-size: 24px;
  z-index: 10;

  &:before {
    color: #f96868;
    background: #fff;
    border-radius: 50%;  
  }
}