.exchanges-supported-coins-modal {
  min-height: 560px;

  .panel {
    box-shadow: none;
  }
  .panel-body {
    padding: 0;
  }
  .modal-body {
    padding: 20px 20px 0 20px;
  }
  .modal-footer {
    padding: 0 20px 20px;
  }
  .exchanges-supported-coins-tile {
    display: inline-block;
    width: 170px;
    margin-bottom: 30px;
  }
}