.qr-modal-send-block {
  position: absolute;
  top: 15px;
  right: 30px;
}

.table a.save-image-button {
  text-decoration: none;
}

.qr-reader-comp {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.qr-modal-reader {
  .page-content {
    font-size: 16px;
  }
}