
.full-opacity {
  opacity: 1;
}

.display-block {
  display: block;
}

.swal2-modal-container {
  display: block;
  width: 500px;
  padding: 20px;
  margin-left: -250px;
  background: rgb(255, 255, 255);
  margin-top: -230px;
}

button {
  &.copy-floating-label {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    top: -26px;
    right: 0;
    background-color: #757575;
    border: 0;
    cursor: pointer;
    z-index: 1000;
  }
  &.swal2-confirm-container {
    background-color: rgb(48, 133, 214);
    border-left-color: rgb(48, 133, 214);
    border-right-color: rgb(48, 133, 214);
  }
  &.swal2-cancel-container {
    display: inline-block;
    background-color: rgb(221, 51, 51);
  }
}

.vertical-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal-padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.browser-usage-container {
  color: #424242;
}

.width-540 {
  width: 540px;
}

.vertical-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

textarea {
  &.height-100 {
    height: 100px;
  }
}

.seed-type-block {
  position: absolute;
  left: 100%;
  min-width: 50px;

  .placeholder-label {
    border-radius: 4px;
    padding: 3px;
    background: #61BD4F;
    color: #fff;
  }
}

#loginPassphrase,
#wifkeysPassphraseTextarea,
input[type="password"] {
  width: calc(100% - 35px);
}
#wifkeysPassphraseTextarea,
#loginPassphrase {
  overflow: hidden;
  margin-top: 5px;
}

.seed-tooltip {
  .tooltiptext {
    width: 230px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
  }
}

.auto-side-margin {
  margin-left: auto;
  margin-right: auto;
}

.register-form {
  .floating-label {
    font-size: 13px;
  }
}

option.login-option {
  background-color: #757575;
  color: #fff;
}

.login-form,
.register-form {
  width: 540px;
  margin: 30px 0;
}

.form-material {
  .form-control.focus~.floating-label,
  .form-control:focus~.floating-label,
  .form-control:not(.empty)~.floating-label {
    top: -14px;
  }
}

.pin-block-one {
  width: 10%;
  float: left;
  margin-left: 38%;
}
.pin-block-two {
  width: 4%;
  float: left;
  margin-top: 10px;
}
.pin-block-three {
  width: 10%;
  float: left;
}

.page-login {
  .bw-inverted {
    background: #fff;
    color: #000 !important;
    text-align: center !important;
    padding: 5px;
  }
  .pin-login-block {
    .form-material {
      .form-control.focus~.floating-label,
      .form-control:focus~.floating-label,
      .form-control:not(.empty)~.floating-label {
        top: -20px;
      }
    }
    select.form-control.form-material,
    input.form-control {
      color: #fff;
    }
    ::placeholder {
      color: #fff;
    }
  }
  .seed-encrypt-block {
    .login-help {
      top: -10px;
      left: 25px;

      &.first {
        top: 28px;
        left: 131px;
      }
    }
  }
  .seed-extra-spaces-warning {
    position: absolute;
    right: -30px;
    margin-top: 40px;
    font-size: 20px;
    color: rgb(255, 75, 0);
  }
  .addcoin-shortcut {
    display: inline-block;
    width: 48%;

    > div {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-left: 20px;
    }
    &.full--width {
      width: 50%;
      margin-left: 0;
    }
  }
  .line {
    padding: 60px 0 40px 0;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 33%;
      background: #ccc;
      margin-right: 10px;
      position: relative;
      top: -4px;
    }
    &:after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 33%;
      background: #ccc;
      margin-left: 10px;
      position: relative;
      top: -4px;
    }
  }
  .login-help {
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 15px;
    color: #fff;
  }
  .page-content {
    margin: 0 auto;
    float: none;
    min-width: 600px;
  }
}

.qrcode-modal + .modal {
  a {
    color: #fff;
  }
}

.btn-generate-qr {
  .qrcode-modal {
    display: block;
  }
}

.qr-modal-login-block {
  position: absolute;
  right: 0;
  top: -50px;

  .btn {
    background: transparent;
    color: #fff;
  }
}

a.login-nn-elections {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #fff;
  border-radius: 4px;
  border: solid 1px #fff;
  font-size: 18px;
  padding: 8px 10px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.margin-top-130 {
  margin-top: 130px !important;
}

.register-form {
  .sigs-selector {
    text-align: left;

    select {
      margin-top: 30px;
      width: 100px;
      color: #000;
    }
  }
  .pubkeys {
    margin-top: 48px;

    .form-group {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
    .form-material .floating-label {
      left: 0 !important;
    }
  }
  .pubkeys-list-item {
    padding-top: 10px;
  }
  .create-wallet-seed {
    text-align: left;
    padding: 20px;
    margin: 30px 0 50px 0;
    border: dashed 1px #fff;
    font-size: 16px;
  }
  .create-wallet-seed-confirm-block {
    text-align: left;
    font-size: 16px;

    .seed-confirm-word {
      background: #fff;
      color: #4c4c4c;
      padding: 4px 7px;
      margin-right: 15px;
      margin-bottom: 28px;
      cursor: pointer;
      display: inline-block;
    }
  }
  .seed-confirm-word-stack {
    padding-right: 5px;
    display: inline-block;

    &:last-child {
      padding-right: 0;
      cursor: pointer;
    }
  }
  .seed-confirm-clear {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    margin-top: -30px;

    &.all-words-used {
      margin-top: 0;
    }
  }
  .btn-back {
    border: 1px solid #5d5d5d;
    margin-top: 25px;
  }
}

.restore-wallet {
  .fa-copy {
    margin-left: 10px;
  }
  .fa-external-link {
    margin-left: 6px;
    cursor: pointer;
  }
  .external-link {
    margin-left: 4px;
  }
  .external-link:hover {
    text-decoration: underline;
  }
  .qr-modal-login-block {
    position: inherit;
    top: 0;
  }
  .btn-back {
    border: 1px solid #5d5d5d;
    margin-top: 25px;
  }
  .create-wallet-seed {
    text-align: left;
    padding: 20px;
    margin: 30px 0 10px 0;
    border: dashed 1px #fff;
    font-size: 14px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.pin-login-block {
  input[type="password"] {
    width: 100%;
  }
  input[disabled] {
    border-bottom: 1px solid #bdbdbd !important;
  }
  
  .pin-list {
    margin-top: 15px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: left;


    .pin-list-inner {
      overflow-y: auto;
      max-height: 200px;
    }
    .pin-list-item {
      padding: 5px;
      cursor: pointer;

      &.active {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}