.full-opacity {
  opacity: 1;
}

.display-block {
  display: block;
}

.swal2-modal-container {
  display: block;
  width: 500px;
  padding: 20px;
  margin-left: -250px;
  background: rgb(255, 255, 255);
  margin-top: -230px;
}

button {
  &.swal2-confirm-container {
    background-color: rgb(48, 133, 214);
    border-left-color: rgb(48, 133, 214);
    border-right-color: rgb(48, 133, 214);
  }
  &.swal2-cancel-container {
    display: inline-block;
    background-color: rgb(221, 51, 51);
  }
}

.vertical-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal-padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.browser-usage-container {
  color: #424242;
}

.width-540 {
  width: 540px;
}

.vertical-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

textarea {
  &.height-100 {
    height: 100px;
  }
}

.placeholder-label {
  color: #808080;
}

.seed-tooltip {
  .tooltiptext {
    width: 230px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
  }
}