.notary-elections-modal {
  color: #757575 !important;

  .seed-extra-spaces-warning {
    position: absolute;
    right: 16px;
    margin-top: 0;
    font-size: 20px;
    color: rgb(255, 75, 0);
  }

  label,
  input {
    color: #757575 !important;
  }

  .loader {
    float: none;
  }

  .modal-body-container {
    height: inherit;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .elections-title {
    font-size: 18px;
    margin-left: 83px;
  }

  .elections-user-type {
    text-align: center;
    margin-top: 40px;

    a {
      font-size: 18px;
      color: #2f6363;
      cursor: pointer;

      &.active {
        text-decoration: underline;
      }
    }
  }

  .elections-logout-btn {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .elections-login {
    margin-top: 35px;
  }

  .elections-login-btn {
    width: 100px;
    margin-top: 10px;
  }

  .seed-toggle {
    right: 20px;
    margin-top: -30px;
    top: inherit;
  }

  .elections-map {
    position: absolute;
    width: 100%;
    left: 0;
    height: 350px;
    text-align: center;

    &.disable {
      pointer-events: none;
    }
  }

  .elections-map-node {
    position: relative;

    .notary-elections-node-title {
      color: #fff !important;
      font-weight: bold;
      position: absolute;
      margin-left: 40px;
      margin-top: -6px;
    }

    img {
      position: absolute;
      width: 35px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
      transition: width 0.2s ease-in-out;
    }

    &.active {
      img {
        cursor: default;
        width: 38px !important;
        border: solid 5px #fff;
      }
    }
    img:hover {
      width: 40px;
    }
    &.elections-map-node--na {
      left: -234px;
      top: -262px;

      .notary-elections-node-title {
        margin-top: -6px;
        margin-left: 38px;
      }
    }
    &.elections-map-node--ae {
      left: 114px;
      top: -236px;

      .notary-elections-node-title {
        margin-top: -6px;
        margin-left: 40px;
      }
    }
    &.elections-map-node--sh {
      left: 190px;
      top: -138px;

      .notary-elections-node-title {
        margin-left: 32px;
        margin-top: 30px;
      }
    }
    &.elections-map-node--eu {
      left: -28px;
      top: -268px;

      .notary-elections-node-title {
        margin-top: -4px;
        margin-left: 40px;
      }
    }
  }

  .elections-voter-ui {
    height: 350px;
  }

  .elections-balance,
  .elections-history {
    font-size: 16px;
  }

  .elections-history {
    margin-bottom: 10px;
    text-align: center;
  }

  .elections-send {
    .form-control {
      display: inline-block;
      width: 350px;
    }
    .block {
      width: 400px;
      display: block;
    }

    &.elections-send--single {
      .btn {
        position: relative;
        top: -6px;
        left: 15px;
        display: inline-block;
      }
      .form-control {
        width: 250px;
      }
      .block {
        width: 365px;
      }
    }
  }
}

.page-login .notary-elections-modal {
  input,
  textarea {
    color: #5f5d5d;
  }
}