/* TODO: nesting, separate */

#app {
  height: 100%;

  > div {
    height: 100%;
  }
}

.page-main {
  background: #f3f4f5;
}

#kmd_header_button {
  button {
    margin-right: 5px;
  }
}

.widget {
  &.active {
    .bg-white {
      box-shadow: inset 1px 1px 10px #ccc;
    }
  }
}

body {
  padding-top: 44px;
}

#section-dashboard {
  height: 100%;
}

#edexcoin_dashboardinfo a,
.nav-top-menu,
#kmd_txid_info_mdl .nav-tabs li,
.pagination a,
.action {
  cursor: pointer;
  cursor: hand;
}

#easydex-header-div {
  background-repeat: no-repeat;
  background-size: 100%;
}

.unselectable {
  user-select: none;
}

.seed-toggle {
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
  cursor: hand;
}

.radio-custom {
  input {
    cursor: pointer;
    cursor: hand;
  }
}

.collapse {
  overflow: hidden;
  display: block;
}

.collapse-active,
.panel>:not(.panel-loading):not(.collapsing) {
  transition: height 0.3s ease-out;
}

.rc-tree {
  height: 450px;
  overflow-y: scroll;
  margin-top: 20px;

  a {
    pointer-events: none;
  }
  li {
    span {
      &.rc-tree-iconEle {
        display: none;
      }
    }
  }
}

.rc-tree-node-content-wrapper-close + ul {
  height: 0;
}
.rc-tree-node-content-wrapper {
  user-select: none;
}
.rc-tree-node-content-wrapper-normal {
  color: inherit;
  pointer-events: all;
  user-select: all;
}

#RefreshBasiliskConnectionsMdl {
  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.page-aside {
  position: fixed;
}

.page-aside-inner {
  .wallet-widgets-list {
    overflow-y: auto;
    height: 100%;
  }
}

.btn-outline-primary {
  color: #FF6600;
  background-color: #fff;
  border-color: #FF6600;
}

.center {
  text-align: center;
}

.navbar {
  &.navbar-fixed-top {
    .dropdown {
      &.open {
        .dropdown-menu {
          right: 0;
        }
      }
      .dropdown-menu {
        display: block;
        right: -165px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
   input {
    display: none;
  }
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
  &:before {
    border-radius: 50%;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.toggle-label {
  color: #757575;
  display: inline-block;
  position: relative;
  top: -12px;
  left: 8px;
}

input:checked + .slider {
  background-color: rgb(57, 73, 171);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(57, 73, 171);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.dropdown-menu {
  li {
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.coin-logo {
  &.breadcrumb {
    z-index: 100;
  }
}
.breadcrumb > li + li:before {
  display: none;
}

#js-copytextarea {
  opacity: 0;
  height: 10px;
  width: 200px;
}

.bootstrap-select {
  > .dropdown-toggle {
    z-index: 0;
  }
}

select{
  &.form-control {
    &.form-material {
      color: #757575;
    }
  }
}

.site-navbar {
  .navbar-brand-logo {
    height: 32px;
    width: 110px;
  }
}

.navbar-brand {
  padding: 22px 15px;
}

.panel-actions {
  .progress {
    width: inherit;
  }
}

.basilisk-actions {
  .caret {
    margin-left: 10px;
    margin-top: -2px;
  }
}

.clipboard-edexaddr {
  margin-left: 10px;
}

.backround-gray {
  background: #f3f4f5;
}

.manual-balance-refresh,
.manual-txhistory-refresh {
  position: absolute;
  right: 4px;
  top: 3px;
}

.table-striped {
  > tbody {
    > tr.hover--none {
      background-color: inherit;
    }
  }
}

@media only screen and (min-width : 1201px) {
  .wallet-widgets {
    .flex {
      display: flex;
      flex-wrap: wrap;
    }
    > div {
      display: flex;

      .widget,
      .widget-content {
        height: 100%;

        > div,
        .clearfix {
          height: 100%;
        }
      }
    }
  }
}

.breadcrumb {
  padding: 8px 30px 0;
  position: relative;
  top: -10px;
}

.header-easydex-section {
  img {
    max-width: 60px;
  }
}

.coin-logo-wide {
  padding: 8px 30px 0;
  position: relative;
  top: 0;

  .header-easydex-section {
    img {
      width: inherit;
      max-width: inherit;
      position: relative;
      top: -5px;
    }
  }

  &.native-coin-logo {
    top: -93px;

    .header-easydex-section {
      img {
        width: inherit;
      }
    }
  }
}

.native-coin-logo {
  float: left;
  position: absolute;
  top: -105px;
  z-index: 100;

  .header-easydex-section {
    img {
      width: 60px;
    }
  }
}

.page-header--native {
  height: 75px;
}

.page-header--spv {
  height: 120px;

  .page-header-actions {
    top: 73%;
  }
}

.toggle-filters:hover {
  background-color: #f3f1f1;
}

.no-padding-left {
  padding-left: 0;
}

.alert-info,
.alert-warning {
  width: 97.1%;
  margin: 0 auto;
}

.page-content-native {
  position: relative;
  top: -20px;
}

.bold {
  font-weight: bold;
}

.modal {
  .modal-content {
    .modal-header {
      .close {
        font-size: 28px;
        position: absolute;
        z-index: 100;
        right: 20px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
    }
  }
}

.balance-placeholder--bold {
  .pull-left {
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px !important;
  }
}

.tx-interest {
  display: block;
  color: #4caf50;
  font-size: 13px;
  padding-top: 5px;
}

.icon-spv-connection-warning {
  position: absolute;
  bottom: 15px;
  right: 15px;

  &:before {
    color: #f2a654;
    font-size: 18px;
  }
}

.color-warning {
  color: #FF6600;
}

.link {
  cursor: hand;
  cursor: pointer;
}

.dashboard-claim-interest-btn {
  padding: 4px 14px 4px 7px;
  margin-left: 20px;
}

.win-sync-workaround-btn {
  padding: 4px 7px;
}

.send-coin-sync-warning {
  .icon {
    font-size: 18px;
  }
  .desc {
    position: relative;
    top: -2px;
  }
}