.add-coin-modal {
  color: #757575;
}

.vertical-margin-20 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.horizontal-margin-0 {
  margin-left: 0;
  margin-right: 0;
}

.float-none {
  float: none;
}

.add-coin-modes {
  > div {
    padding: 0;

    label {
      margin: 0;
    }
  }
}