.normal-font {
  color: #757575 !important;
}

.add-coin-modal {
  color: #757575;

  .padding-right-none {
    padding-right: 0;
  }
  .addcoin-tiles-outter-block {
    padding-right: 0;
  }
  .addcoin-tiles {
    padding-top: 10px;
    min-height: 300px;

    .addcoin-tile {
      text-align: left;
      display: inline-block;
      border: solid 1px rgba(204, 204, 204, 0.5);
      padding: 12px;
      width: 250px;
      margin-bottom: 25px;
      margin-right: 30px;

      .addcoin-tile-inner {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .badge {
        position: absolute;
        margin-top: -13px;
        border-radius: 0;
        font-size: 11px;
        
        &.badge--erc20 {
          margin-left: 191px;
        }
        &.badge--native {
          margin-left: 187px;
        }
      }
      span {
        position: relative;
        top: 2px;
      }
    }
  }
  .addcoin-modes-block {
    .form-group {
      margin-bottom: 5px;
    }
    .style-addcoin-lbl-mdl-login {
      padding-left: 0;
      
      label {
        margin: inherit;
      }
    }
  }
  .modal-body {
    max-height: 590px;
    overflow-y: auto;
    min-height: 320px;
  }

  .padding-left-none {
    padding-left: 0;
  }

  .multi {
    .col-sm-8 {
      width: 30%;
    }
    .col-sm-12 {
      &.text-center {
        width: 60%;
        padding: 0;

        .col-lg-4 {
          width: 25%;
          margin-right: 8%;
          padding: 0;

          .input{
            &.to-labelauty+label {
              max-width: 136px;
            }
          }
        }
        .col-lg-4 {
          &:last-child {
            margin-right: 0;
          }
        }
        .col-sm-1 {
          width: 44px;
          padding: 0;
        }
      }
    }
  }

  .form-material {
      label.floating-label {
      color: #757575;
      left: 16px;
    }
    .form-control.focus~.floating-label,
    .form-control:focus~.floating-label {
      color: #FF6600;
    }
  }
  .seed-extra-spaces-warning {
    right: -3px !important;
    margin-top: 54px !important;
  }
}

.vertical-margin-20 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.horizontal-margin-0 {
  margin-left: 0;
  margin-right: 0;
}

.float-none {
  float: none;
}

.add-coin-modes {
  > div {
    padding: 0;

    label {
      margin: 0;
    }
  }
}

.btn-add-coin-item,
.btn-add-coin-item-options,
.btn-save-coin-selection,
.btn-load-coin-selection {
  position: absolute;
  right: 32px;
  z-index: 50;
}
.btn-add-coin-item {
  right: 60px;
}
.btn-add-coin-item-options {
  padding: 6px;
}
.btn-save-coin-selection {
  top: 60px;
}
.btn-load-coin-selection {
  top: 95px;
}

.btn-outline-primary {
  color: #FF6600;
  background-color: #fff;
  border-color: #FF6600;
}

.native-params-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  > div {
    padding-left: 0;
  }
}